<div class="grow shrink basis-0 h-14 py-4 rounded-bl-lg justify-center items-center gap-2 flex">
  <div class="w-5 h-5 relative"></div>
  <div class="text-gray-700 text-sm font-medium font-['Inter'] leading-tight">{{ title }}</div>
</div>
